<%
require "dry/inflector" # Debian package ruby-dry-inflector

$one_day = 60*60*24

%><!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>

      <h1 id=year><a href="#year">2022</a></h1>
<div class="monthflex">
<%
def month(m)
      # pre-1st padding. What day of the week is the 1st?
      offset = m.wday
      # last day of this month
      last = Time.new(m.year,m.month,1)
      while last.month == m.month do
        last += $one_day
      end
      last -= $one_day
      last = last.day

      r =  "<div class=\"month\">\n"
      r += "<h2>" + m.strftime("%B") + "</h2>\n"
      r += "<table>
    <tr>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
        <th>S</th>
    </tr>
<tr>
"
      for d in (2..offset) do
        r += "<td>&nbsp;</td>\n"
      end

      for d in (1..last) do
          if (d+offset-2) % 7 == 0
              r += "</tr><tr>\n"
          end
          d0 = sprintf "%02d", d
          mon = m.strftime("%b").downcase
          r += "<td><a href=\"##{mon}-#{d0}\">#{d0}</a></td>"
      end
      r + "</tr>
      </table>
      </div>
      "
    end

for m in (1..12) do
  %><%=month(Time.new(2022,m)) %><%
end
%>
</div>

<p id=projects>
<% # can't use OL due to https://github.com/Kozea/WeasyPrint/issues/1239
for d in (1..4) do
%>
  <a href="#project-<%=d%>">Project <%=d%></a>
<%
end
%>
</p>

<%
$inflector = Dry::Inflector.new
# now for day pages
def day(d)
    id = sprintf '"%s-%02d"', d.strftime("%b").downcase, d.day
    di = $inflector.ordinalize(d.day)
    r = "<h1 id=#{id}>#{d.strftime("%A, %B")} #{di}</h1>
    <table class=hourstable>
    "
    for h in (8..17) do
        h0 = sprintf "%02d", h
        r += "<tr><td class=hours>#{h0}:00</td>
              <td class=\"hour-#{h}\"> </td>
        </tr>
        "
    end
    r+= "</table>\n"
    r
end

d       = Time.new(2022,1)
e       = Time.new(2023,1)

while d < e do
  %><%=day d %><%
  d += $one_day
end

# project pages
for d in (1..4) do
%>
  <h1 id="project-<%=d%>">Project <%=d%></h1>
<%
end
%>
    </body>
</html>
